@font-face {
  font-family: Manrope;
  src: url("../resources/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../resources/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Poppins SemiBold;
  src: url("../resources/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../resources/fonts/Gilroy-Light.ttf");
}



a{
  text-decoration: none;
  color: black;
}
p{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}
// ---------------------------------------------------------------------------------------//
header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;

  .content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 70%;
    width: 97%;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      background-color: #f6d6fa;
    }
    .profile{
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 20px;
      width: 20%;
      height: 90%;

      .profile-image{
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background-color: red;
      }

      .profile-info{
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .name{
          font-family: Manrope, serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 16px;
          text-align: left;

        }

        .role{
          font-family: Manrope, serif;
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          color: #777676;

        }
      }
    }
  }
 }


main{
  display: flex;
  height: 90vh;
  overflow: hidden;

  .left-side-bar{
    display: flex;
    justify-content: center;
    width: 17%;
    background-color: #FFFFFF;
    height: 90vh;

    .cards{
      display: flex;
      flex-direction: column;
      width: 90%;
      row-gap: 20px;

      .icon-title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        column-gap: 10px;

        border-radius: 10px;
        cursor: pointer;

        padding: 5px;

        .icon{
          width: 30px;
        }
        .text{
          font-family: Inter, serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;

          flex: 1 1 50%;
        }
      }

      .subCard{
        display: flex;
        height: 40px;
        align-items: center;

        margin-left: 50px;

        .subText{
          font-family: Inter, serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }

    }
  }

  .main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
    height: 100%;

    background-color: #F9FAFB;
    .content-1{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 97%;
      height: 93%;
      background-color: white;
      border-radius: 16px;
      .content-2{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 96%;

        .title-actions{
          display: flex;
          width: 100%;
          height: 10%;
          align-items: center;
          justify-content: space-between;

          .actions{
            display: flex;
            justify-content: end;
            column-gap: 7px;
            width: 40%;
            height: 70%;

            .filter {
              display: flex;
              justify-content: center;
              align-items: center;
              border: 0;
              outline: solid #e0e0e0 0.85px;
              aspect-ratio: 1/1;
              height: 100%;
              background-color: white;
              border-radius: 5px;
              cursor: pointer;
              .icon {
                font-size: 30px;
                color: #33333399;
              }
            }

            .searchContainer {
              display: flex;
              cursor: pointer;
              background: white;
              align-items: center;
              border-radius: 5px;
              outline: solid #e0e0e0 0.85px;
              input {
                width: 300px;
                color: black;
                outline: none;
                border: none;
                background: transparent;
                font-family: Gilroy-Light, serif;
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 14px;
                padding-left: 15px;
              }

              .searchIcon {
                padding: 15px 15px 15px 0;
                color: #33333399;
              }
            }
            .add {
              display: flex;
              justify-content: center;
              align-items: center;
              outline: solid #e0e0e0 0.85px;
              aspect-ratio: 1/1;
              height: 100%;
              background-color: white;
              border-radius: 5px;

              .icon {
                font-size: 30px;
                color: #33333399;
              }
            }
          }

        }
        .my-table{
          display: flex;
          flex-direction: column;
          height: 90%;
          thead{
            height: 10%;
          }
          tbody{
            overflow-y: scroll;
            height: 90%;
          }

          tbody::-webkit-scrollbar {
            display: none;
          }
          .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 5px;

            border-radius: 4px;
            .header-cell{
              color: black;
              font-weight: 600;
            }
            .cell{
              display: flex;
              justify-content: center;
              flex-basis: 20%;

              font-family: Poppins SemiBold, serif;
              font-size: 14px;
              font-weight: 600;
              line-height: 18px;
              text-align: left;
              color: #6B7280;

              .action-buttons{
                display: flex;
                column-gap: 7px;

                .action-icon{
                  width: 24px;
                  height: 24px;
                }

                .edit, .delete{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 30px;
                  height: 30px;

                  border-radius: 3px;
                  background-color: #ffffff;

                  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);

                }

                button{


                  color: inherit;
                  border: none;
                  padding: 0;
                  font: inherit;
                  cursor: pointer;
                  outline: inherit;

                  background-color: #FFFFFF;

                }
              }
            }
          }
        }

      }
    }
  }
}

.edit-form{
  display: flex;
  flex-direction: column;
}

