@font-face {
  font-family: Manrope;
  src: url("../resources/fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../resources/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Poppins SemiBold;
  src: url("../resources/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../resources/fonts/Gilroy-Light.ttf");
}



a{
  text-decoration: none;
  color: black;
}
p{
  margin: 0;
}

ul{
  list-style: none;
  padding: 0;
}
// ---------------------------------------------------------------------------------------//

.modal-image{
  max-width: 50%;
  max-height: 50%;
}

.edit-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;

  img {
    height: 100%;
  }
}

.post-image-info{
  display: flex;
  column-gap: 30px;
  width: 100%;
  height: 50%;

  .image{
    width: 40%;
    height: 100%;
    overflow: hidden;


    .post-image{
      cursor: pointer;
      width: 100%;
    }
  }
}

.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  backdrop-filter: blur(5px);

  .popup{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    h3{
      margin: 0
    }


    button{
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
    }

    .default-images{
      display: flex;
      align-items: center;
      column-gap: 10px;
      height: 80px;

      .button{
        cursor: pointer;
        border-radius: 100px;
      }

      .on{
        width: 60px;
        height: 60px;
      }

      .off{
        width: 50px;
        height: 50px;
        opacity: 40%;
      }

    }
  }
}

.profile-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;

  img{
    height: 100%;
  }
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;

  .content{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 70%;
    width: 97%;
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100%;
      background-color: #f6d6fa;
    }
    .profile{
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 20px;
      width: 20%;
      height: 90%;

      .profile-info{
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .name{
          font-family: Manrope, serif;
          font-size: 16px;
          font-weight: 600;
          line-height: 16px;
          text-align: left;

        }

        .role{
          font-family: Manrope, serif;
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          color: #777676;

        }
      }
    }
  }
 }

main{
  display: flex;
  height: 90vh;
  overflow: hidden;

  .left-side-bar{
    display: flex;
    justify-content: center;
    width: 17%;
    background-color: #FFFFFF;
    height: 90vh;

    .cards{
      display: flex;
      flex-direction: column;
      width: 90%;
      row-gap: 20px;

      .icon-title{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        column-gap: 10px;

        border-radius: 10px;
        cursor: pointer;

        padding: 5px;

        .icon{
          width: 30px;
        }
        .text{
          font-family: Inter, serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;

          flex: 1 1 50%;
        }
      }

      .subCard{
        display: flex;
        height: 40px;
        align-items: center;

        margin-left: 50px;

        .subText{
          font-family: Inter, serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }

    }
  }

  .main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
    height: 100%;

    background-color: #F9FAFB;
    .content-1{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 97%;
      height: 93%;
      background-color: white;
      border-radius: 16px;
      overflow-y: scroll;
      .content-2{
        display: flex;
        flex-direction: column;
        width: 95%;
        height: 96%;


        .my-table{
          margin-top: 20px;
          .table-search{
            display: flex;
            width: 100%;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0 10px 0;

            .actions{
              display: flex;
              justify-content: end;
              column-gap: 7px;
              width: 40%;
              height: 50px;

              .filter {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                outline: solid #e0e0e0 0.85px;
                aspect-ratio: 1/1;
                height: 50px;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                .icon {
                  height: 80%;
                  color: #33333399;
                }
              }
              .searchContainer {
                display: flex;
                cursor: pointer;
                background: white;
                align-items: center;
                border-radius: 5px;
                outline: solid #e0e0e0 0.85px;
                height: 50px;
                input {
                  width: 300px;
                  color: black;
                  outline: none;
                  border: none;
                  background: transparent;
                  font-family: Gilroy-Light, serif;
                  font-style: normal;
                  font-weight: 300;
                  font-size: 15px;
                  line-height: 14px;
                  padding-left: 15px;
                }

                .searchIcon {
                  padding: 15px 15px 15px 0;
                  color: #33333399;
                }
              }
              .add {
                display: flex;
                justify-content: center;
                align-items: center;
                outline: solid #e0e0e0 0.85px;
                aspect-ratio: 1/1;
                height: 50px;
                background-color: white;
                border-radius: 5px;

                .icon {
                  font-size: 30px;
                  color: #33333399;
                }
              }
            }

          }
          .table-content{
            display: flex;
            flex-direction: column;
            height: 650px;
            thead{
              height: 70px;
            }
            tbody{
              overflow-y: scroll;
              height: 90%;
            }

            tbody::-webkit-scrollbar {
              display: none;
            }
            .row{
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 60px;
              padding: 5px;

              border-radius: 4px;
              .header-cell{
                color: black;
                font-weight: 600;
              }
              .cell{
                display: flex;
                justify-content: center;
                flex-basis: 20%;

                font-family: Poppins SemiBold, serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                text-align: left;
                color: #6B7280;

                .action-buttons{
                  display: flex;
                  column-gap: 7px;

                  .action-icon{
                    width: 24px;
                    height: 24px;
                  }

                  .edit, .delete{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;

                    border-radius: 3px;
                    background-color: #ffffff;

                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);

                  }

                  button{


                    color: inherit;
                    border: none;
                    padding: 0;
                    font: inherit;
                    cursor: pointer;
                    outline: inherit;

                    background-color: #FFFFFF;

                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
.image-info{
  display: flex;
  column-gap: 30px;
  .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;

    img{
      cursor: pointer;
      height: 100%;
    }
  }
}
.edit-form{
  display: flex;
  flex-direction: column;
}

